.header {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 20px;
    padding: 20px 0;
}

.logo {
    float: left;
}

.logo__link {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: 32px;
    line-height: 48px;
    color: #fed136;
}

.navigation {
    float: right;
    padding-top: 20px;
}

.navigation__item {
    float: left;
    margin-right: 40px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__link {
    text-transform: uppercase;
    font: 14px Arial, sans-serif;
    color: #fff;
}

.navigation__link_active {
    color: #f4c936;
}

.navigation__link:hover {
    color: #f4c936;
    transition: color 0.5s ease-out;
}
