.intro {
    padding-top: 290px;
    text-align: center;
    color: #fff;
    height: 100%;
    background: #222 url(../../img/home__bg.jpg) no-repeat center bottom;
    background-size: cover;
}

.intro__title {
    display: block;
    margin-bottom: 30px;
    font: 75px/75px Arial, sans-serif;
    text-transform: uppercase;
}

.intro__title-first {
    display: block;
    margin-bottom: -40px;
    font: 40px/40px Arial, sans-serif;
    text-transform: none;
}
