.section {
    padding: 120px 0;
    text-align: center;
}

.section__title {
    margin-bottom: 10px;
    font: bold 40px/40px Arial, sans-serif;
    color: #222;
    text-transform: uppercase;
}

.section__description {
    margin-bottom: 10px;
    font-size: 16px;
    color: #777;
}

.section-row {
    padding-top: 70px;
}

.section_gray {
    background: #f7f7f7;
}
