<section class="section">
    <div class="container">
        <h2 class="section__title">About us</h2>
        <p class="section__description">Proin iaculis purus consequat sem cure.</p>
        <div class="section-row">

            <div class="about__item clearfix">
                <div class="about__item-content  about__item-content_left">
                    <h5 class="about__item-title  about__item-title_right"><span class="about__title-year">July 2012 - January 2013</span> <br> Our Humble Beginnings</h5>
                    <p class="about__item-description  about__item-description_right">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
                </div>
                <div class="about__item-image  about__item-image_left">
                    <img class="about__item-image_border" src="img/about__ico_1.png" height="169" width="169" alt="">
                </div>
            </div>

            <div class="about__item clearfix">
                <div class="about__item-content  about__item-content_right">
                    <h5 class="about__item-title  about__item-title_left"><span class="about__title-year">December 2014</span> <br>Facing Startup Battles</h5>
                    <p class="about__item-description  about__item-description_left">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
                </div>
                <div class="about__item-image  about__item-image_right">
                    <img class="about__item-image_border" src="img/about__ico_2.png" height="169" width="169" alt="">
                </div>
            </div>

            <div class="about__item clearfix">
                <div class="about__item-content  about__item-content_left">
                    <h5 class="about__item-title  about__item-title_right"><span class="about__title-year">February 2015</span> <br>Enter The Dark Days</h5>
                    <p class="about__item-description  about__item-description_right">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
                </div>
                <div class="about__item-image  about__item-image_left">
                    <img class="about__item-image_border" src="img/about__ico_3.png" height="169" width="169" alt="">
                </div>
            </div>

            <div class="about__item clearfix">
                <div class="about__item-content  about__item-content_right">
                    <h5 class="about__item-title  about__item-title_left"><span class="about__title-year">March 2016</span> <br>Our Triumph</h5>
                    <p class="about__item-description  about__item-description_left">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
                </div>
                <div class="about__item-image  about__item-image_right">
                    <img class="about__item-image_border" src="img/about__ico_4.png" height="169" width="169" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
