<section class="section section_black">
    <div class="container">
        <h2 class="section__title section__title_white">Contact us</h2>
        <p class="section__description">Proin iaculis purus consequat sem cure</p>
        <div class="section-row">
            <form class="contact-form">
                <div class="clearfix">
                    <div class="left">
                        <input type="text" placeholder="Your name *">
                        <input type="text" placeholder="Your e-mail *">
                        <input type="text" placeholder="Subject">
                    </div>
                    <div class="right">
                        <textarea placeholder="Your massage *"></textarea>
                    </div>
                </div>
                <input type="submit" value="Send massage" class="button"></input>
            </form>
            </div>
        </div>
    </div>
</section>
