<footer class="footer">
    <div class="container">
        <div class="section-row clearfix">
            <div class="copyright">
                <span class="copyright__text">Copyright © Your Website 2016</span>
            </div>
            <div class="social social_right-marg">
                <ul class="social__list">
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul>
            </div>
            <div class="quicklinks">
                <ul class="quicklinks__list">
                    <li class="quicklinks__item">
                        <a class="quicklinks__link" href="#">Privacy Policy</a>
                    </li>
                    <li class="quicklinks__item">
                        <a class="quicklinks__link" href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
