<header class="header">
    <div class="container clearfix">
        <div class="logo">
            <a class="logo__link" href="#">Golden web-studio</a>
        </div>
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link navigation__link_active">Home</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Services</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Portfolio</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">About</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
