<section class="section section_gray">
    <div class="container">
        <h2 class="section__title">Portfolio</h2>
        <p class="section__description">Proin iaculis purus consequat sem cure.</p>
        <div class="section-row clearfix">
            <div class="portfolio__item">
                <a href="#" class="portfolio__item-link">
                    <img class="portfolio__item-image" src="img/portfolio__item_1.jpg" height="301" width="291" alt="">
                </a>
                <h5 class="portfolio__item-title">Ebony & Evony</h5>
                <span class="portfolio__item-description">Branding</span>
            </div>
            <div class="portfolio__item">
                <a href="#" class="portfolio__item-link">
                    <img class="portfolio__item-image" src="img/portfolio__item_2.jpg" height="301" width="291" alt="">
                </a>
                <h5 class="portfolio__item-title">Smart Stationary</h5>
                <span class="portfolio__item-description">Print Design</span>
            </div>
            <div class="portfolio__item">
                <a href="#" class="portfolio__item-link">
                    <img class="portfolio__item-image" src="img/portfolio__item_3.jpg" height="301" width="291" alt="">
                </a>
                <h5 class="portfolio__item-title">Clever Poster </h5>
                <span class="portfolio__item-description">Print Design</span>
            </div>
            <div class="portfolio__item">
                <a href="#" class="portfolio__item-link">
                    <img class="portfolio__item-image" src="img/portfolio__item_4.jpg" height="301" width="291" alt="">
                </a>
                <h5 class="portfolio__item-title">Vinyl Record</h5>
                <span class="portfolio__item-description">Product Mock-Up</span>
            </div>
            <div class="portfolio__item">
                <a href="#" class="portfolio__item-link">
                    <img class="portfolio__item-image" src="img/portfolio__item_5.jpg" height="301" width="291" alt="">
                </a>
                <h5 class="portfolio__item-title">Treehouse Template</h5>
                <span class="portfolio__item-description">Web Design</span>
            </div>

            <div class="portfolio__item">
                <a href="#" class="portfolio__item-link">
                    <img class="portfolio__item-image" src="img/portfolio__item_6.jpg" height="301" width="291" alt="">
                </a>
                <h5 class="portfolio__item-title">Burned Logo</h5>
                <span class="portfolio__item-description">Branding</span>
            </div>
        </div>
    </div>
</section>
