<section id="services" class="section">
    <div class="container">
        <h2 class="section__title">Services</h2>
        <p class="section__description">Proin iaculis purus consequat sem cure</p>
        <div class="section-row clearfix">
            <div class="services__item">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h5 class="services__item-title">E-Commerce</h5>
                <p class="services__item-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
            </div>
            <div class="services__item">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h5 class="services__item-title">Responsive Web</h5>
                <p class="services__item-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
            </div>
            <div class="services__item">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h5 class="services__item-title">Web Security</h5>
                <p class="services__item-text">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
            </div>
        </div>
    </div>
</section>
