<section class="section section_gray">
    <div class="container">
        <h2 class="section__title">Our amazing team</h2>
        <p class="section__description">Proin iaculis purus consequat sem cure</p>
        <div class="section-row clearfix">
            <div class="member">
                <div class="member__foto">
                    <img class=" member__foto_rounded" src="img/member-1.jpg" height="220" width="220" alt="">
                </div>
                <h5 class="member__name">Kimberly Thompson</h5>
                <p class="member__position">Marketer</p>
                <ul class="social">
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="member">
                <div class="member__foto">
                    <img class=" member__foto_rounded" src="img/member-3.jpg" height="220" width="220" alt="">
                </div>
                <h5 class="member__name">Martin Smith</h5>
                <p class="member__position">Coder</p>
                <ul class="social">
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-github"></i></a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="member">
                <div class="member__foto">
                    <img class=" member__foto_rounded" src="img/member-2.jpg" height="220" width="220" alt="">
                </div>
                <h5 class="member__name">Eileen Berta</h5>
                <p class="member__position">Designer</p>
                <ul class="social">
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <p class="section__description">Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit <br> aenean rhoncus posuere odio in tincidunt proin iaculis.</p>
        </div>
    </div>
</section>
